<%- include('partials/header') %>
<h1 style="display: flex; justify-self: center; justify-content: center; width:90%; background-color: black; margin: 10px; padding: 10px;text-align:center; color: rgb(238, 255, 4); font-size: 50px; border-radius: 5px;"><%= post.title %></h1>
<div style="font-size:25px;max-width:1000px;margin:0 auto; text-align:justify;">
    <p><%= post.body %></p>
    <p class="links"><a href="/">← Back to posts</a></p>
</div>